@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px lightgreen,
        0 0 82px lightgreen,
        0 0 92px lightgreen,
        0 0 102px lightgreen,
        0 0 151px lightgreen,
}
    
body {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    background-color: white;
}  




.entergalacticdiv {
    margin: 0%;
    height: 650px;
    width: auto;
    background-image: url("wall-plants.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
    
 

}

/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
   
    
}
  
li {
    float: right;
    display: block;
    color:  white;
    text-align: center;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;                                                                                                                                                                                  
    font-weight: bold;
    font-family:'Exo 2', sans-serif;
    
      
}
  

li:hover {
    color:black;
    background-color: white;
    border-radius: 20px;
    
   
}


.entergalacticdiv > h1 , h2 {
    text-align: center;
}  



h1, h2 {
    
    color: white;
    font-weight: 400;
    font-family:'Exo 2', sans-serif;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    
}

h1 {
    margin-top: 80px;
    font-size: 280px;
    margin-bottom: 0px;
}    

h2 {
    font-size: 25px;
   
   
    
}


    

  
@keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px lightgreen,
        0 0 40px lightgreen,
        0 0 80px lightgreen,
        0 0 90px lightgreen,
        0 0 100px lightgreen,
        0 0 150px lightgreen;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px lightgreen,
      0 0 73px lightgreen,
      0 0 80px lightgreen,
      0 0 94px lightgreen,
      0 0 140px lightgreen;
    }
}

footer {
    background-color: white;
    height: 100px;
    text-align: center;
    margin-bottom: 0px;
}
